<div class="container">

	<div class="row">
		<div class="col-xs-4 col-md-offset-4">
			<h2 class="profile-title">Profile</h2>
				<%= attachment_image_tag @user, :profile_image, :fill, 200, 200, format: 'jpeg'%>
					<div class="col-xs-8">
						<%= @user.name %><br>
						<%= @user.introduction %>
					</div>
		</div>
	</div>

	<div class="row">
		<div class= "user-books">
			<div class="col-xs-6">
				<% @books.each do |book| %>
					<div class="user-book">
						<span><%= link_to "#{book.title}",book_path(book.id)%></span>
						<br>
					</div>
				<%end%>
			</div>
		</div>

		<div class="paginate">
		<%= paginate @books, class: "paginate" %>
		</div>

	</div>
</div>
