

<div class="container">
    <div class="row">
        <div class="col-xs-4">



<div class="error_message">
    <div id="error_explanation">
        <% if @book.errors.any? %>
            <h2><%= @book.errors.count %> errors prohibited this obj from being saved:</h2>
                <ul>
                    <% @book.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
        <% end %>
    </div>
</div>
            <div class="row">
                <%= render 'books/new', book:@book %>
            </div>
            <div class="row">
                <%= render 'users/info', user:@user %>
            </div>
        </div>

        <div class="col-xs-8">
            <h2>Index</h2>
                <div class="book-index">
                    <% @search_books.each do |book| %>
                        <div class="col-xs-4">
                            <div id="book-content">
            				    <div class="book-title">
            					   <span class="book-title-text"><%= link_to "#{book.title}",book_path(book.id) %></span>
            				    </div>

            				    <div class="book-body">
          					   <%= simple_format(book.body) %>
                                </div>
                                <div class="index-book-action">
                                    <%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "本当に削除しますか？" %>
            				    </div>
                            </div>
                        </div>
                    <% end %>
                </div>

        </div>
    </div>
     <div class="paginate">
            <%= paginate @books, class: "paginate" %>
            </div>
</div>
