<!DOCTYPE html>
<html>
  <head>
    <title>Bookers3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.scss" rel="stylesheet">
  </head>
  <body>
<!-- ヘッダー -->
<header class="jumbotron">
    <div class="container">
    <div class="title-cover">
      <h1 class="main-title">Bookers</h1>
        <ul class="list-inline">
          <% if user_signed_in? %>
              <li class="list-inline-item">
                <%= link_to " Home",root_path %>
              </li>
              <li>
                ◆
              </li>
              <li class="list-inline-item">
                <%=link_to " Books" ,books_path %>
              </li>
              <li>
                ◆
              </li>
              <li class="list-inline-item">
              <%=link_to " logout" , destroy_user_session_path, method: :delete %>
              </li>
          <% else %>
              <li class="list-inline-item">
                <%=link_to " Signup", new_user_registration_path %>
              </li>
              <li>
                ◆
              </li>
              <li class="list-inline-item">
                <%=link_to " Login" ,new_user_session_path %>
              </li>
          <% end %>
        </ul>

<dl class="searchbox">
  <%= search_form_for @search, url: books_path do |f| %>
    <dt><%= f.text_field :title_cont ,placeholder: 'Book title' %></dt>
    <dd><%= f.submit ("Search") , class: 'btn btn-link'%></dd>
  <% end %>
</dl>


    </div>
    </div>
</header>


    <%= yield %>
  </body>
</html>
