<!DOCTYPE html>
<html>
  <head>
    <title>Bookers3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.scss" rel="stylesheet">
  </head>

  <body>
<!-- ヘッダー -->
<header class="jumbotron">
    <div class="container">
      <h1 class="main-title">Bookers</h1>
        <ul class="list-inline">
          <li class="list-inline-item">
          <%= link_to " Home",root_path, class: "glyphicon glyphicon-home" %>
          </li>
          <li class="list-inline-item">
          <%=link_to " Books" ,books_path, class: "glyphicon glyphicon-book" %>
          </li>
        </ul>

    </div>
</header>


    <%= yield %>
  </body>
</html>
